body {
    font-family: 'Helvetica', sans-serif;
    background: linear-gradient(90deg, red 0%, red 25%, blue 25%, blue 50%, green 50%, green 75%, yellow 75%, yellow 100%);
    background-size: 200% 100%;
    animation: colorShift 10s linear infinite;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes colorShift {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
}

#categories {
    display: flex;
    justify-content: space-around;
    width: 90%;
    max-width: 1200px;
}

#wendy-chores, #damian-chores {
    width: 45%;
    background-color: rgba(1, 1, 0.5, 0.5);
    padding: 25px;
    border-radius: 12px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#wendy-chores h2, #damian-chores h2 {
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

#wendy-chores ul, #damian-chores ul {
    list-style-type: none;
    padding: 0;
}

#wendy-chores li, #damian-chores li {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    padding: 12px 18px;
    margin: 8px 0;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

li.completed {
    text-decoration: line-through;
    color: gray;
}

.progress-container {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.progress-bar {
    height: 20px;
    background-color: #4CAF50;
    width: 0%;
    border-radius: 5px;
}

#sort-button {
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 40px;
    background-color: #663399;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Added text shadow */
}
